@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

.no-margin {
    margin: 0;
}

header.fixed {
    position: absolute;
    /* background-color: red; */
    z-index: 9;
    left: 0;
    width: 100%;
    padding: 5px 0;
    z-index: 99;
}

.margin-60 {
    margin: 60px 0;
}
.margin-30 {
    margin: 30px 0;
}
ul.login-menu li {
    display: inline-block;
}

ul.login-menu li a {
    /* background-color: #a5a2a9; */
    padding: 9px 19px;
    color: #fff;
    border-radius: 5px;
    /* width: 100px; */
    display: inline-block;
    text-align: center;
    margin-right: 0;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
}

ul.login-menu li a:after {
    width: 2px;
    height: 18px;
    content: "";
    position: absolute;
    right: -5px;
    background-color: #f68d23;
    top: 11px;
}

ul.login-menu li:last-child a:after {
    display: none;
}

ul.login-menu {
    margin-left: 50%;
    margin-top: 10px;
    display: inline-block;
}

a.button.menu-button {
    display: inline-block;
    float: right;
    margin-right: 3%;
    margin-top: 20px;
}

.slider-lft {
    /* background-color: #ff0b0b; */
    /* margin-top: -45px; */
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 9;
}

.slider-lft img {
    float: right;
    /* margin-right: -350px; */
    height: 100%;
}

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.animate-out {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}

.slider-caption {
    width: 100%;
}

.caption-border {
    width: 10px;
    background-color: #f68d23;
    height: 233px;
    display: inline-block;
    margin: 0 30px;
    vertical-align: top;
}

.carousel-caption h2 {
    display: inline-block;
    font-size: 42px;
    color: #fff;
    font-weight: 600;
    text-align: left;
}

.buy-now {
    display: block;
    background-color: #e08730;
    width: 220px;
    height: 60px;
    border-radius: 20px;
    line-height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 100px;
    color: #fff;
    font-size: 19px;
    z-index: 999;
    left: 40%;
}

.buy-now i {
    margin-left: 10px;
}

.owl-carousel .owl-item {
    /* padding: 240px 0; */
    /* border: 1px solid red; */
    min-height: 100vh !important;
}

#section0 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+2,c2c2c4+100 */
    background: #fefefe;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fefefe 2%, #c2c2c4 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefefe 2%, #c2c2c4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefefe 2%, #c2c2c4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#c2c2c4', GradientType=0);
    /* IE6-9 */
    position: relative;
    overflow: hidden;
}

.owl-next {
    position: absolute;
    background-color: red !important;
    bottom: 0;
}

.slider-nav {
    /* border: 1px solid red; */
    width: 160px;
    height: 100px;
    background-color: #1650a3;
    color: #fff;
    font-size: 20px;
    line-height: 87px;
    position: absolute;
    right: -77px;
    bottom: 0;
    text-align: center;
    -webkit-transform: skew(-130deg, -200deg);
    -moz-transform: skew(-130deg, -200deg);
    transform: skew(-152deg, -200deg);
    cursor: pointer;
    z-index: 9;
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.slider-nav img {
    width: 26px;
    height: auto;
    position: absolute;
    left: 20px;
    /* right: 0; */
    margin: auto;
    top: 46%;
    transform: translateY(-50%) rotate(24deg) skew(-4deg, -3deg);
}

.slider-nav:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -41px;
    display: block;
    width: 55px;
    background: #1650a3;
    -webkit-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(-19deg);
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.menu-list {
    background-color: #1b1b1b;
    position: fixed;
    z-index: 9;
    width: 260px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    right: -300px;
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    transition: all 0.9s ease;
    z-index: 999;
}

.menu-list.left {
    right: 0px;
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.menu-list ul {
    left: 0;
    right: 0;
    max-width: 100%;
    margin: auto;
    text-align: left;
    margin-top: 60px;
    margin-left: 0;
    padding-left: 0;
}

.menu-list ul li {
    display: inline-block;
    width: 100%;
}

.menu-list ul li a {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 0px;
    border-bottom: 1px solid #383838;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    position: relative;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    padding-left: 10px;
}

a.close-button {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 30px;
    color: red;
    font-size: 20px;
}

.menu-list ul li a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #f37800;
    left: 0;
    bottom: -1px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.menu-list ul li a:hover:after {
    width: 100%;
}

.menu-list ul li a:hover {
    color: #f37800;
    border-color: transparent;
}

form#contact-form {
    max-width: 767px;
    margin: 0 auto;
    text-align: left;
}

form#contact-form .form-control {
    width: 100%;
    box-shadow: none;
    height: 40px;
}

input.submit-btn {
    background-color: #e08730;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    float: right;
}

form#contact-form textarea.form-control {
    height: 200px;
    resize: vertical;
}

form#contact-form h3 {
    margin-bottom: 40px;
    font-weight: 600;
    position: relative;
    padding-left: 22px;
    font-size: 30px;
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    padding-left: 25px;
}

a.logo {
    margin-left: 24px;
    display: inline-block;
    float: left;
    margin-top: 0;
    max-width: 180px;
}

.about-content p {
    font-size: 15px;
    text-align: left;
    line-height: 26px;
    color: #313030;
}

.about-content h4 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    padding-left: 15px;
}

.about-content {
    text-align: left;
}

.about-content h4:after {
    position: absolute;
    content: "";
    width: 4px;
    height: 36px;
    background-color: #f68d23;
    left: 15px;
}

form#contact-form h3:after {
    position: absolute;
    content: "";
    width: 4px;
    height: 36px;
    background-color: #f68d23;
    left: 4px;
    top: -4px;
}

.copyrgt {
    position: absolute;
    bottom: 0;
    background-color: #efefef;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.copyrgt p {
    font-size: 12px;
    color: #000;
}

.owl-carousel .owl-item .item {
    height: 100vh;
    background-size: cover;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fill {
    height: 100vh;
    width: 100%;
    background-size: cover;
    z-index: 1;
}

.carousel-control {
    background-image: none !important;
}

.carousel-caption {
    z-index: 999;
    top: 42%;
    bottom: inherit;
    left: 50%;
    display: inline-flex;
}

.inner_banner {
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

h4.inner-title {
    display: inline-block;
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    text-align: center;
    color: #fff;
    font-size: 46px;
    text-transform: capitalize;
    font-weight: 600;
}

.main-slider {
    border: 1px solid #f1e7e7;
}

.thumbnail-slider .slick-slide {
    border: 1px solid #f1e7e7;
}

.thumbnail-slider .slick-slide img {
    height: 90px;
    width: auto;
    margin: 0 auto;
}

.product-lft h4 {
    font-size: 24px;
    font-weight: 600;
    color: #58585B;
    margin-top: 20px;
}

.product-lft p {
    font-size: 14px;
    margin: 20px 0;
    color: #000;
    line-height: 24px;
}

.product-lft h5 {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 600;
}

.product-lft select {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.thumbnail-slider .slick-slide {
    border: 1px solid #e2d8d8;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}

.thumbnail-slider .slick-prev,
.thumbnail-slider .slick-next {
    background-color: #a5a4a4 !important;
    width: 35px !important;
    height: 36px !important;
    border-radius: 50%;
}

.thumbnail-slider .slick-prev:hover,
.thumbnail-slider .slick-prev:focus,
.thumbnail-slider .slick-next:hover,
.thumbnail-slider .slick-next:focus {
    background-color: #e08730 !important;
}

.thumbnail-slider .slick-next {
    right: -40px !important;
    background-image: url(../images/angle-right.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.thumbnail-slider .slick-prev {
    left: -40px !important;
    background-image: url(../images/angle.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.thumbnail-slider .slick-prev i,
.thumbnail-slider .slick-next i {
    color: #fff;
}

.footer .copyrgt {
    position: relative;
    text-align: center;
}

.row.reviews-blk h4 {
    font-size: 20px;
    font-weight: 600;
    color: #1650a3;
    margin-top: 20px;
    margin-bottom: 30px;
}

.row.reviews-blk {
    margin-top: 20px;
    border-top: 1px solid #cecece;
    padding-top: 20px;
}

.testimonial-slider p {
    font-size: 14px;
    color: #5f5f5f;
    padding-left: 40px;
}

.testimonials-blk {
    margin: 15px 0;
    border-bottom: 1px solid #cecece;
    float: left;
    width: 100%;
}

p.author_details {
    float: right;
    margin-bottom: 20px;
    color: #e08730;
    font-weight: 600;
    font-size: 13px;
}

blockquote {
    border-left: 0;
    background-image: url(../images/testimonial-icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
}

a.buynw-btn {
    background-color: #e08730;
    display: inline-block;
    margin: 0px 0;
    /* padding: 11px 55px; */
    color: #fff;
    font-size: 19px;
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 47px;
    border-radius: 4px;
    float: right;
}

a.buynw-btn:hover {
    background-color: #1650a3;
}

.buy-now:hover {
    background-color: #1650a3;
    color: #fff;
}

.col-md-6.product-lft {
    padding-left: 50px;
}

.contentpage h4 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #1650a3;
    font-weight: 600;
}

.contentpage p {
    font-size: 14px;
    color: #808080;
    margin-bottom: 10px;
}

.contentpage ul {
    padding-left: 25px;
    margin: 10px 0;
    display: inline-block;
}

.contentpage ul li {
    font-size: 14px;
    color: #000;
    margin-bottom: 7px;
}

.login-page {
    border: 0;
    max-width: 550px;
    margin: 100px auto;
    padding: 25px !important;
    border: 1px solid #f1efef;
    -webkit-box-shadow: 1px 7px 5px 0px rgba(245, 245, 245, 1);
    -moz-box-shadow: 1px 7px 5px 0px rgba(245, 245, 245, 1);
    box-shadow: 1px 7px 5px 0px rgba(245, 245, 245, 1);
    margin-top: 0;
    padding-top: 10px !important;
}

.login-page .form_box {
    width: 74%;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #e3dddd;
    background-color: transparent;
    /* color: #fff; */
}

.profile-login .profile-wrap li>label {
    margin-bottom: 10px;
    width: auto;
}

.login-page label {
    color: #5a5a5a;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.login-page .form-control {
    width: 100%;
    border: 0;
    border: 1px solid #e2e1e1;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
}

.login-page .form-group {
    width: 100%;
    margin-bottom: 26px;
    clear: both;
    position: relative;
}

.login-page a.forgot {
    font-size: 13px;
    float: right;
    color: #1650a3;
    margin: 10px 0;
    font-weight: 600;
}

.login-page .submit-btn {
    font-size: 17px;
    background-color: #b8b8b8;
    border: 0;
    -webkit-appearance: none;
    color: #fff;
    width: 100%;
    padding: 12px 3px;
    max-width: 135px;
    margin: 0 auto;
    display: inline-block;
    float: none;
    border-radius: 6px;
    text-transform: capitalize;
    cursor: pointer;
    float: left;
    margin-bottom: 30px;
}

.login-page .submit-btn:hover {
    background-color: #ff7b0c;
}

.login-page .deviderbox {
    /* border: 1px solid; */
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-page span.brder-line {
    width: 100px;
    height: 1px;
    background-color: #d1d4d3;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.login-page p.regiester-txt {
    text-transform: capitalize;
    font-size: 17px;
}

.login-page p.regiester-txt a {
    color: #1650a3;
    margin-left: 10px;
    font-weight: 600;
}

a.social {
    width: 50px;
    height: 50px;
    background-color: #395998;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 51px;
    border-radius: 50%;
}

a.social i {
    color: #fff;
}

a.social.gmail {
    background-color: #de5245;
}

.form-group h3.main-head:after {
    right: inherit;
}

.login-herder {
    border-bottom: 1px solid #ebebeb;
    /* padding: 5px 0; */
    background-color: #87b93e;
    color: #fff;
}

ul.login-list {
    padding: 0;
    float: right;
    margin-bottom: 0;
}

ul.login-list li {
    display: inline-block;
}

ul.login-list li a {
    color: #fff;
    text-transform: capitalize;
    position: relative;
    font-size: 14px;
}

ul.login-list li a:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: white;
    top: 11px;
    right: -2px;
}

ul.login-list li:last-child a:after {
    display: none;
}

h3.main-head {
    font-size: 28px;
    position: relative;
    margin-bottom: 30px;
    text-transform: capitalize;
    padding-bottom: 15px;
    font-weight: 600;
    color: #1650a3;
}

h3.main-head:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background-color: #87b93e;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

.slider-nav:hover,
.slider-nav:hover:after {
    background-color: #e08730;
}

.bs-slider {
    overflow: hidden;
    max-height: 100vh;
    position: relative;
    background: #000000;
}

.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}

.bs-slider>.carousel-inner>.item>img,
.bs-slider>.carousel-inner>.item>a>img {
    margin: auto;
    width: 100% !important;
}

.fade {
    opacity: 1;
}

.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}

.fade .item:first-child {
    top: auto;
    position: relative;
}

.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}

.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.control-round:hover .carousel-control {
    opacity: 1;
}

.control-round .carousel-control.left {
    left: 1%;
}

.control-round .carousel-control.right {
    right: 1%;
}

.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover {
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}

.control-round .carousel-control.left>span:nth-child(1) {
    left: 45%;
}

.control-round .carousel-control.right>span:nth-child(1) {
    right: 45%;
}

.indicators-line>.carousel-indicators {
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}

.indicators-line>.carousel-indicators li {
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(158, 158, 158);
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: rgb(158, 158, 158);
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    z-index: 10;
    cursor: pointer;
}

.indicators-line>.carousel-indicators li:last-child {
    margin-right: 0;
}

.indicators-line>.carousel-indicators .active {
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #fff;
    background-color: transparent;
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.indicators-line>.carousel-indicators .active:before {
    transform: scale(0.5);
    background-color: #fff;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.slide_style_left {
    text-align: left !important;
}

.slide_style_right {
    text-align: right !important;
}

.slide_style_center {
    text-align: center !important;
}

.slide-text {
    left: 30%;
    top: 25%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
}

.slide-text>h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 600;
    text-align: left;
    padding: 0;
    color: #ffffff;
    font-size: 50px;
    font-style: normal;
    line-height: 60px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    width: 70%;
}

.slide-text>p {
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.slide-text>a.btn-default {
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.slide-text>a.btn-primary {
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00bfff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.slide-text>a:hover,
.slide-text>a:active {
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.scroll-downs {
    position: absolute;
    /* top: 0; */
    right: 0;
    bottom: 20px;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
    /* background-color: red; */
    z-index: 9;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #b7b7b7;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #aba2a2;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.bs-slider {
    overflow: hidden;
    max-height: 100vh;
    position: relative;
    background: #000000;
}

a.logo img {
    /* max-width: 130%; */
    /* width: 130%; */
}

.conatct-wrap.margin-60,
.about-wrap {
    min-height: 510px;
}

.inner_banner.thankyou-banner {
    background-color: #efefef;
    height: 70px;
}

h3.cart-header {
    margin-bottom: 22px;
    float: left;
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: #1650a3;
    font-weight: 600;
}

div#cart-total {
    font-size: 20px;
    color: #1650a3;
    font-weight: 600;
}

.totals {
    /* border: 1px solid red; */
    display: inline-block;
    width: 100%;
    background-color: #f9f9f9;
    color: #fff;
    padding: 20px;
    float: left;
}

.product-lft label.product-price {
    font-size: 22px;
}

label.price {
    font-size: 22px;
    color: #58585B;
}

.slider {
    width: 100%;
    margin: 10px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
}

.slick-current {
    opacity: 1;
}

.main-slider img {
    height: 360px;
    width: auto;
    margin: 0 auto;
}

label.error {
    color: red;
    font-size: 11px;
    font-weight: 600;
}

a.checkpin {
    background-color: #9c9a9a;
    display: inline-block;
    /* margin: 20px 0; */
    /* padding: 11px 55px; */
    color: #fff;
    font-size: 15px;
    width: 100px;
    text-align: center;
    height: 35px;
    line-height: 36px;
    border-radius: 0;
    margin-left: -4px;
}
.pincode-check p {
    display: inline-block;
    margin-right: 10px;
}
input.pincode.form-control {
    display: inline-block;
    width: 73%;
    border-radius: 0;
}

.row.delivery_status {
    /* margin-top: 20px; */
}

p.notavlble,
.avlble , .login-page label.error {
    position: absolute;
    top: -62px;
    padding: 5px;
    width: 280px;
    text-align: center;
    background-color: #e84242;
    color: #fff !important;
    font-size: 13px;
    border-radius: 3px;
}
.login-page label.error{
    top: 0px;
}
p.notavlble:after,
.avlble:after, .login-page label.error:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 12px;
    /* background-color: #e84242; */
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #e84242;
}

.delivery-address {
    float: left;
    width: 100%;
}

.delivery-address p {
    text-align: left;
    font-size: 14px;
    color: #000;
    line-height: 24px;
    margin-top: 10px;
}

.delivery-address h3 {
    float: left;
    /* width: 100%; */
    text-align: left;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.cartpage {
    min-height: 75vh;
}

button.edit {
    display: inline-block;
    background-color: #1650a3;
    border: 0;
    padding: 4px 20px;
    border-radius: 3px;
    -webkit-appearance: none;
}

button.save.pull-right {
    display: inline-block;
    background-color: #1650a3;
    border: 0;
    padding: 4px 20px;
    border-radius: 3px;
    -webkit-appearance: none;
}

.address-edit {
    width: 100%;
    color: #000;
    text-align: left;
    height: 140px;
    border: 1px solid #ddd;
    padding: 10px;
    resize: vertical;
}

.delivery-adresedit {
    display: none;
}

.delivery-adresedit.show {
    display: inline-block;
    width: 100%;
    color: #000;
    text-align: left;
    height: 200px;
    ;
}

.delivery-adress.hide {
    display: none;
}

button.edit:hover {
    background-color: #e08730;
}

.cartpage .container {
    width: 75%;
}

.avlble {
    background-color: #84af41;
}

.avlble:after {
    /* background-color: red; */
    border-top: 10px solid #84af41;
}

.pincode-check {
    position: relative;
    text-align: left;
}

.deliverymsg p.notavlble,
.deliverymsg .avlble {
    position: absolute;
    top: -30px;
    /* width: 43%; */
    font-size: 12px;
}

.delivery-error {
    color: #ff0707;
}

img.animaton-gif {
    position: absolute;
    width: 360px;
    height: auto;
    top: 57%;
    left: 81%;
}

.menu-list ul ul {
    margin-top: 0;
    background-color: #2d2d2d;
    /* height: 0; */
    /* visibility: hidden; */
    display: none;
}

.menu-list ul li i {
    float: right;
    margin-right: 15px;
}

.thankyou-content p {
    font-size: 19px;
}

.thankyou-content h3 {
    font-size: 27px;
    margin: 15px 0;
}

.video-wrap .container {
    width: 90%;
}

.col-md-4.video-box {
    border: 1px solid #e6e4e4;
    width: 32.5%;
    padding: 0;
    margin-right: 1%;
}

.col-md-4.video-box:last-child {
    margin-right: 0;
}

.col-md-4.video-box h4 {
    font-size: 16px;
    text-align: center;
    line-height: 23px;
    margin-bottom: 15px;
    padding: 10px;
    margin-top: 15px;
}



.video-title h3.main-head:after{
    left: 0;
    right: inherit;
}
.video-title h3.main-head {
        margin-bottom: 25px;
}



.col-md-4.video-box .player {
    height: 100% !important;
}

.login-header {
    border: 1px solid white;
    width: 200px;
    margin: auto;
    margin-top: -45px;
    background-color: white;
    margin-bottom: 25px;
}
.login-page p.regiester-txt a:hover, .login-page a.forgot:hover{
    color: #b8b8b8;
}

.product-history-head label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    color: #fff;
    font-size: 14px;
    border-top: 1px solid #eee;
    padding-top: 15px;
    background-color: #3d5579;
    font-weight: 300;
    padding-right: 15px;
}

.product-history-head {
    width: 100%;
}

label.product-head {
    width: 16%;
    text-align: left;
    padding-left: 10px;
}


.product-history .product-thumb {
    /* border: 1px solid red; */
    display: inline-block;
    /* width: 20px; */
    vertical-align: top;
}


.product-history .product-thumb img {
    width: 70px;
}

.product-detail {
    display: inline-block;
}

.product-detail h3 {
    font-size: 21px;
    margin-top: 10px;
    display: inline-block;
    color: #000;
    font-weight: 500;
}

.product-detail p {
    font-size: 15px;
    margin-top: 5px;
    font-weight: 500;
}

.row.product-history {
    background-color: #fdfdfd;
    float: left;
    width: 100%;
    text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid #e6e6e6;
    margin: 0;
}

h4.price {
    font-size: 18px;
    margin-top: 30px;
}

p.delivery-status {
    font-size: 15px;
    color: #1bbf10;
    line-height: 21px;
    margin-top: 24px;
}

/*------------------------------------------------------*/


/* RESPONSIVE
/*------------------------------------------------------*/

@media screen and (max-width: 1920px) {
    img.animaton-gif {
        top: 53%;
        left: 55%;
    }
}

@media screen and (max-width: 992px) {
    .col-md-6.product-lft {
        padding-left: 15px;
    }
    a.logo img {
        max-width: 100%;
        width: 100%;
    }
    .row.reviews-blk {
        margin: 0
    }
    .col-md-4.video-box {
        border: 1px solid #e6e4e4;
        width: 48%;
        padding: 0;
        margin-right: 2%;
        margin-bottom: 2%;
    }

}

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text>p {
        font-size: 18px;
    }
    .cartpage .container {
        width: 90%;
    }
}

@media (max-width:800px) {
    .slider-caption .item {
        min-height: 100vh;
    }
    .col-md-4.video-box {
        border: 1px solid #e6e4e4;
        width: 100%;
        padding: 0;
        margin-right: 0%;
        margin-bottom: 20px;
    }

    .slider-lft {
        /* background-color: #ff0b0b; */
        /* margin-top: -45px; */
        position: absolute;
        top: inherit;
        height: 70%;
        z-index: 9;
        left: -126px;
        bottom: 0;
    }
    .bs-slider>.carousel-inner>.item>img,
    .bs-slider>.carousel-inner>.item>a>img {
        height: 100%;
        object-fit: cover;
        min-height: 100vh;
    }
    .slide-text {
        top: 13%;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text>p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control {
        display: none;
    }
}

@media (max-width:767px) {

.row.product-history .col-md-4 {
    width: 100%;
    text-align: center;
}

}

@media (max-width: 480px) {
    .slide-text {
        padding: 10px 0px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text>p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text>a.btn-default,
    .slide-text>a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line>.carousel-indicators {
        display: none;
    }
}

@media (max-width:1920px) {
    .slider-lft img {
        /* float: right; */
        margin-right: -227px;
        /* height: 100%; */
    }
}

@media (max-width:1367px) {
    .slider-lft img {
        /* float: right; */
        /* margin-right: -233px; */
        /* height: 100%; */
    }
    img.animaton-gif {
    top: 49%;
    left: 55%;
}
}

@media (max-width:1025px) {
    .main-slider img {
        height: 280px;
        width: auto;
        margin: 0 auto;
    }
    .thumbnail-slider .slick-slide img {
        height: 60px;
    }

    .slider-lft img {
        /* float: right; */
        margin-right: -210px;
        /* height: 100%; */
    }
    img.animaton-gif {
        position: absolute;
        width: 270px;
        height: auto;
        top: 49%;
        left: 74%;
    }

    .slide-text>h2 {
        font-size: 35px;
        line-height: 45px;
    }


}

@media (max-width:992px) {
    .section {
        float: none;
        display: inline-block;
        width: 100%;
        padding: 60px 0;
    }
    .copyrgt {
        position: relative;
        bottom: 0;
        background-color: #c6c6c8;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .scroll-downs {
        display: none;
    }
    .slide-text>h2 {
        font-size: 42px;
        color: #fff;
        font-weight: 600;
        text-align: left;
        padding: 0;
        color: #ffffff;
        font-size: 30px;
        font-style: normal;
        line-height: 40px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        display: inline-block;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
        width: 70%;
    }
    .slider-nav {
        transform: none;
        width: 200px;
        height: 60px;
    }
    .slider-nav:after {
        display: none
    }
    .slider-nav img {
        width: 26px;
        height: auto;
        position: absolute;
        left: 44px;
        /* right: 0; */
        margin: auto;
        top: 30%;
        transform: none;
    }
    .about-content p {
        font-size: 14px;
        line-height: 26px;
    }
    div#section0 {
        padding: 0;
    }
    div#section2 {
        padding: 0;
    }
    form#contact-form {
        margin-bottom: 80px;
        padding: 15px;
    }
}

@media only screen and (max-width:768px) and (min-width: 320px) {
    .about-img,
    .about-content {
        width: 100% !important;
    }
}

@media (max-width:800px) {
    ul.login-menu {
        margin-left: 30%;
        display: inline-block;
    }
}

@media (max-width:600px) {
    .slide-text>h2 {
        font-size: 42px;
        color: #fff;
        font-weight: 600;
        text-align: left;
        padding: 0;
        color: #ffffff;
        font-size: 19px;
        font-style: normal;
        line-height: 31px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        display: inline-block;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
        width: 70%;
    }
    .caption-border {
        width: 10px;
        background-color: #f68d23;
        height: 140px;
        display: inline-block;
        margin: 0 30px;
        vertical-align: top;
    }
    ul.login-menu {
        margin-left: 0;
        display: inline-block;
    }
}

@media (max-width:550px) {
    .slider-lft img {
        /* margin-right: -169px; */
    }
}

@media (max-width:430px) {
    .slide-text>h2 {
        font-size: 42px;
        color: #fff;
        font-weight: 600;
        text-align: left;
        padding: 0;
        color: #ffffff;
        font-size: 13px;
        font-style: normal;
        line-height: 16px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        display: inline-block;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
        width: 70%;
    }
    .caption-border {
        display: none
    }
    .slider-nav {
        transform: none;
        width: 150px;
        height: 50px;
    }
    .slider-nav img {
        width: 26px;
        height: auto;
        position: absolute;
        left: 20px;
        /* right: 0; */
        margin: auto;
        top: 30%;
        transform: none;
    }
    .slider-lft img {
        /* margin-right: -149px; */
    }
}

@media (max-width:400px) {
    .fixed .col-md-6.col-sm-6.col-xs-6 {
        padding: 0;
    }
    ul.login-menu li a {
        padding: 9px 10px;
        font-size: 12px;
    }
    a.button.menu-button {
        display: inline-block;
        float: right;
        margin-right: 20px;
        margin-top: 9px;
    }
}

@media (max-width:380px) {
    .slider-lft img {
        margin-right: -120px;
    }
    .about-content p {
        font-size: 12px;
        line-height: 22px;
    }
    .section {
        float: none;
        display: inline-block;
        width: 100%;
        padding: 10px 0;
    }
}

.thakyou-wrap {
    height: calc(100vh - 227px);
}

.thakyou-wrap h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1650a3;
    margin-bottom: 17px;
}

@media (max-width: 640px) {
    .slider-lft img {
        /* float: right; */
        /* margin-right: -210px; */
        /* height: 100%; */
    }
    .slide-text>h2 {
        font-size: 20px;
        line-height: 30px;
        width: 100%;
    }
    .caption-border {
        width: 5px;
        background-color: #f68d23;
        height: 115px;
        display: inline-block;
        margin: 0 30px;
        vertical-align: top;
    }
    ul.login-menu {
        margin-left: 10%;
        display: inline-block;
    }
}

@media (max-width: 600px) {
    img.animaton-gif {
        /* margin-right: -200px; */
        top: 55%;
        left: 100%;
        width: 200px;
    }
    img.animaton-gif {
        top: 51%;
        left: 43%;
        width: 200px;
        margin-left: 0 !important;
    }
    .caption-border {
        display: none;
    }
    ul.login-menu {
        margin-left: 10%;
    }
}

@media (max-width: 481px) {
    .slider-lft img {
        margin-left: 65px;
    }
    .slide-text>h2 {
        font-size: 42px;
        color: #fff;
        font-weight: 600;
        text-align: left;
        padding: 0;
        color: #ffffff;
        font-size: 15px;
        font-style: normal;
        line-height: 22px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        display: inline-block;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
        width: 78%;
    }
    .slider-nav {
        transform: none;
        width: 150px;
        height: 40px;
    }
    .slider-nav img {
        width: 26px;
        height: auto;
        position: absolute;
        left: 19px;
        /* right: 0; */
        margin: auto;
        top: 25%;
        transform: none;
    }
}

@media (max-width: 413px) {
    .slider-lft img {
        margin-right: -150px;
    }
    ul.login-menu li a {
        /* background-color: #a5a2a9; */
        padding: 9px 11px;
        color: #fff;
        border-radius: 5px;
        /* width: 100px; */
        display: inline-block;
        text-align: center;
        margin-right: 0;
        font-weight: 600;
        text-transform: capitalize;
        position: relative;
        font-size: 12px;
    }
    .slide-text>h2 {
        width: 100%;
    }
}

@media (max-width: 384px) {
    .slider-lft img {
        margin-right: -137px;
    }
    .slide-text {
        left: 34%;
        top: 17%;
        padding: 0;
        text-align: left !important;
    }
    .slide-text>h2 {
        font-size: 42px;
        color: #fff;
        font-weight: 600;
        text-align: left;
        padding: 0;
        color: #ffffff;
        font-size: 15px;
        font-style: normal;
        line-height: 22px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        display: inline-block;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
        width: 90%;
    }
}

@media (max-width: 321px) {
    .slider-lft img {
        margin-right: -120px;
    }
    .slide-text {
        left: 26%;
        top: 15%;
        padding: 0;
        text-align: left !important;
    }
    ul.login-menu {
        margin-left: -30px;
    }
}

.thankyou-content {
    /* border: 1px solid #d4cfcf; */
    position: absolute;
    left: 0;
    right: 0;
    max-width: 60%;
    margin: auto;
    top: 35%;
    transform: translateY(-50%);
    padding: 17px;
    -webkit-box-shadow: 2px 3px 34px 0px rgba(217, 217, 217, 1);
    -moz-box-shadow: 2px 3px 34px 0px rgba(217, 217, 217, 1);
    box-shadow: 2px 3px 34px 0px rgba(217, 217, 217, 1);
}

.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.product-removal {
    float: left;
    width: 9%;
}

.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}

.group:before,
.shopping-cart:before,
.column-labels:before,
.product:before,
.totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    content: '';
    display: table;
}

.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    clear: both;
}

.group,
.shopping-cart,
.column-labels,
.product,
.totals-item {
    zoom: 1;
}

.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
    content: 'ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹';
}

.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    color: #fff;
    font-size: 14px;
    border-top: 1px solid #eee;
    padding-top: 15px;
    background-color: #3d5579;
    font-weight: 300;
    padding-right: 15px;
}

.product {
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.product .product-image {
    text-align: center;
}

.product .product-image img {
    width: 50px;
}

.product .product-details .product-title {
    margin-right: 20px;
    /* font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium"; */
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 10px;
}

.product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}

.product .product-quantity input {
    width: 40px;
}

.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}

.product .remove-product:hover {
    background-color: #a44;
}

.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 15px;
}

.totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
    color: #1650a3;
    /* color: #fff; */
    font-weight: 600;
    color: #000;
}

.totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
    color: #000;
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 8px 25px;
    background-color: #e08730;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: #494;
}


/* Make adjustments for tablet */

@media screen and (max-width: 650px) {
    .shopping-cart {
        margin: 0;
        padding-top: 20px;
        /* border-bottom: 1px solid #eee; */
    }
    .cartpage .container {
        width: 90%;
    }
.historypage .container {
        width: 100%;
    }

    .historypage  .row{
        margin:0;
    }
    
    h3.cart-header {
        border-bottom: 1px solid #9e9b9b;
        padding-bottom: 10px;
    }
.cartpage.historypage h3.cart-header {
    border: 0;
}

    .column-labels {
        display: none;
    }
    .product-image {
        float: right;
        width: auto;
    }
    .product-image img {
        margin: 0 0 10px 10px;
    }
    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }
    .product-price {
        clear: both;
        width: 70px;
    }
    .product-quantity {
        width: 100px;
    }
    .product-quantity input {
        margin-left: 20px;
    }
    .product-quantity:before {
        content: 'x';
    }
    .product-removal {
        width: auto;
    }
    .product-line-price {
        float: right;
        width: 70px;
    }
}


/* Make more adjustments for phone */

@media screen and (max-width: 350px) {
    .product-removal {
        float: right;
    }
    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }
    .product .product-line-price:before {
        content: 'Item Total: $';
    }
    .totals .totals-item label {
        width: 60%;
    }
    .totals .totals-item .totals-value {
        width: 40%;
    }
}

header.fixed.inner-header ul.login-menu li a {
    color: #000;
}

a.button.menu-button i {
    font-size: 22px;
    color: #000;
}

img.align-left {
    float: left;
}

h5.sub-borderline {
    border-top: 1px solid #dad9d9;
    border-bottom: 1px solid #dad9d9;
    padding: 10px;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    display: inline-block;
    width: 100%;
}

.contentpage p,
.contentpage ul li {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 0;
}

.testimonials {
    /* padding-left: 30px; */
    border: 1px solid #f3f2f2;
    text-align: left;
    padding: 20px;
    margin: 30px 0px;
    position: relative;
    padding-left: 100px;
    float: left;
    width: 100%;
    clear: both;
}

.testimonials:after {
    content: "";
    position: absolute;
    width: 75px;
    /* background-color:red; */
    left: 20px;
    height: 75px;
    top: 18px;
    padding-left: 38px;
    background-image: url("../images/quote.png");
    background-position: center;
    background-size: contain;
}

p.doctor-name {
    padding-left: 30px;
    margin-top: 6px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #cccccc;
}

.testimonials p {
    font-size: 24px;
    word-break: break-all;
}

p.doctor-name {
    font-size: 15px;
    float: right;
    clear: both;
}

.contentpage h4 {
    background-color: #f68d23;
    padding: 10px;
    color: #fff;
    font-size: 22px;
    display: inline-block;
    width: 100%;
}

.contentpage ul li {
    margin-bottom: 4px;
    /* border-bottom: 1px solid red; */
    position: relative;
}

.contentpage .cntnt-rightside ul li:after {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #828282;
    position: absolute;
    left: -18px;
    top: 9px;
    border-radius: 50%;
}

img.down-arrow {
    display: inline-block;
    height: 120px;
    /* top: 0; */
    vertical-align: top;
}

ul.inner.menu {
    float: left;
    padding: 0;
    list-style: none;
}

.left-isdebar {
    border-right: 1px solid #d2cdcd;
    /* padding: 0; */
}

ul.inner.menu li {
    list-style: none;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px 0;
}

ul.inner.menu li a {
    color: #000;
    padding-right: 15px;
}

.cntnt-rightside {
    padding-left: 60px;
}

.contentpage .container {
    /* border: 1px solid red; */
    width: 80%;
}

.contentpage.margin-60 {
    min-height: 54vh;
}

ul.inner.menu li a.active,
ul.inner.menu li a:hover {
    color: #f68d23;
}

.contentpage h2 {
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .col-md-3.left-isdebar {
        width: 30%;
        float: left;
    }
    .col-md-9.cntnt-rightside {
        width: 70%;
        float: left;
        padding-left: 40px;
    }
    .contentpage .container {
        /* border: 1px solid red; */
        width: 95%;
    }
}
@media screen and (max-width:600px) {

}


@media screen and (max-width:600px) {
    .col-md-3.left-isdebar {
        width: 100%;
        float: left;
    }
    .col-md-9.cntnt-rightside {
        width: 100%;
        float: left;
        padding-left: 15px;
    }
    .testimonials p {
        font-size: 16px;
        word-break: break-all;
    }
    .left-isdebar {
        border-right: 0;
    }
    h5.sub-borderline {
        font-size: 14px;
    }
    .contentpage .container .row {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .container .first_div {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .left-isdebar {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    ul.inner.menu {
        width: 100%;
    }
}

@media screen and (max-width:414px) {
    ul.login-menu li a {
        font-size: 12px;
    }
    ul.login-menu {
        margin-left: -50px !important;
    }
    .testimonials {
        /* padding-left: 30px; */
        border: 1px solid #f3f2f2;
        text-align: left;
        padding: 20px;
        margin: 30px 0px;
        position: relative;
        padding-left: 10px;
        float: left;
        width: 100%;
        clear: both;
    }
    .testimonials:after {
        display: none;
    }
    .col-md-9.cntnt-rightside img {
        width: 100% !important;
    }
    .contentpage p,
    .contentpage ul li {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 0;
    }

    img.animaton-gif {
        top: 51%;
        left: 100%;
        width: 200px;
        margin-left: 0 !important;
    }
}


@media screen and (max-width:380px) {
    img.animaton-gif {
        top: 49%;
        left: 72%;
        width: 200px;
        margin-left: 0 !important;
    }

}


.round-lg {
    line-height: 65px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
}

.round.round-info {
    background: #1e88e5;
}

.prfle-lft {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 0px;
}

.prfle-lft .user-prfle {
    width: 90px;
    height: 90px;
}

.row.prfle-btm .col-md-6 {
    border: 1px solid #e2e2e2;
    padding: 15px 0;
}

.row.prfle-btm .col-md-6:first-child {
    border-left: 0;
    border-right: 0;
}

.row.prfle-btm .col-md-6:last-child {
    border-right: 0;
}

.row.prfle-btm .col-md-6 h4 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
    color: #79d4b1;
}

.row.prfle-btm .col-md-6 h4 p {
    font-size: 15px;
}

ul.profile-detail-list {
    padding-left: 0;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
}
ul.profile-detail-list li{
list-style: none;
}


ul.profile-detail-list li a {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    border-bottom: 1px dashed #e2e2e2;
    padding-left: 20px;
}

ul.profile-detail-list li label {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
}

ul.profile-detail-list li p {
    display: inline-block;
    line-height: 26px;
    text-transform: capitalize;
}

ul.profile-detail-list li:last-child {
    border: 0;
}

.col-sm-12.prfle-rgt-in {
    background-color: #fff;
}
.prfle-lft {
    background-color: #e8e8e8;
    padding-top: 30px;
    padding-bottom: 0px;
}




.prfle-lft {
    background-color: #f9f9f9;
    padding-top: 30px;
    padding-bottom: 0px;
}

.prfle-lft .user-prfle {
    width: 90px;
    height: 90px;
}

.row.prfle-btm .col-md-6 {
    border: 1px solid #e2e2e2;
    padding: 15px 0;
}

.row.prfle-btm .col-md-6:first-child {
    border-left: 0;
    border-right: 0;
}

.row.prfle-btm .col-md-6:last-child {
    border-right: 0;
}

.row.prfle-btm .col-md-6 h4 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
    color: #79d4b1;
}

.row.prfle-btm .col-md-6 h4 p {
    font-size: 15px;
}

ul.profile-detail-list {
    padding-left: 0;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
}

ul.profile-detail-list li A {
    display: inline-block;
    width: 100%;
    text-align: left;
    /* margin-bottom: 15px; */
    border-bottom: 1px dashed #e2e2e2;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

ul.profile-detail-list li label {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
}

ul.profile-detail-list li p {
    display: inline-block;
    line-height: 26px;
    text-transform: capitalize;
}

ul.profile-detail-list li:last-child {
    border: 0;
}

.col-sm-12.prfle-rgt-in {
    background-color: #fff;
}

.col-sm-12.viepage-heder {
    padding: 0;
    margin-bottom: 20px;
}

ul.nav.nav-tabs.viewpage-tab {
    padding-top: 20px;
}
.profile-wrap .container{
    /* border: 1px solid red; */
    width: 80%;
    margin: 20px auto;
}

.user-prfle {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #d1d2cc;
    margin: auto;
}
.rounded-circle {
    border-radius: 50%!important;
}

.profile-detail-list  li a{
    font-size: 16px;
    color: #000000;
}